.footer{
   background: rgb(212, 206, 206);
   .nav-footer{
       display: flex;
       justify-content: space-around;
       padding-top: 2em;
   }
   .footer-uk-2{
       align-items: center;
   }
}